<!DOCTYPE html>
<html lang="en">
    <!---------------- HEAD ------------->
    <%- include ('./partials/head.ejs') %>
    <!----------------------------------->
<body>

    <!----------------- NAV ------------->
    <%- include ('./partials/nav.ejs') %>
    <!----------------------------------->
    <h1>The Bread Company - Contact Page</h1>
    <br>
    <!------------ Mailto Form ---------->
    <%- include ('./partials/mailform.ejs') %>
    <!----------------------------------->
</body>
</html>
© 2022 The Bread Company, Inc.
