<!DOCTYPE html>
<html lang="en">
    <!---------------- HEAD ------------->
    <%- include ('./partials/head.ejs') %>
    <!----------------------------------->
<body>
    <!---------------- NAV ------------->
    <%- include ('./partials/nav.ejs') %>
    <!---------------------------------->
    <h1>Links Page</h1>
    <br>

    <br>
    <h3>Below is a list of some of our favorite links to various bread pages</h3>
    <h3>Click a link below</h3>
    <!---------------- LINKS ------------->
    <%- include ('./partials/links.ejs') %>
    <!---------------------------------->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
</html>
© 2022 The Bread Company, Inc.
