<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <h1>Fruits Index Page</h1>
        <ul>
            <%for(let i =0; i< fruits.length; i++){%>
                <li>
                    <a href="/fruits/<%=fruits[i].id; %>"><%=fruits[i].name; %></a>
                                        <!-- method delete was an npm method-override -->
                    <form action="/fruits/<%=fruits[i].id; %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                        <a href="/fruits/<%=fruits[i].id; %>/edit">Edit</a>
                </li>
        <% } %>
        </ul>
    <nav>
        <a href="/fruits/new">Create a New Fruit</a>
    </nav>
    </body>
</html>