<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1> New Pokemon Page</h1>
    <form action="/pokemon/new" method="POST">
        ID # <input type="text" name="id" placeholder="152+"/> <br>
        Name:<input type="name" name="name" placeholder="Pokemon Name"/> <br>
        Type(s)<input type="type" name="type" placeholder="type 1, type 2"/><br>
        <input type="submit" value="Submit Pokemon"/>
        </form>
</body>
</html>