.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ========================CONTAINERS======================================== */

.container {  
  border: thick solid black;
  display: grid;
  grid-template-columns: 0fr 1fr 1fr 1fr 1fr 0fr;
  grid-template-rows: 0fr 1fr 1fr 1fr 1fr 1fr 0fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . ."
    ". dashboard reviews averageRating sentimentAnalysis ."
    ". dashboard reviews averageRating sentimentAnalysis ."
    ". dashboard websiteVisitors websiteVisitors websiteVisitors ."
    ". dashboard websiteVisitors websiteVisitors websiteVisitors ."
    ". dashboard websiteVisitors websiteVisitors websiteVisitors ."
    ". . . . . .";
}

.dashboard { 
  border: thick solid black;
  grid-area: dashboard; 
}

.websiteVisitors {  
  border: thick solid black;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr .2fr;
  grid-template-rows: 0.8fr 1.2fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . ."
    ". greyArea greyArea ."
    ". . . .";
  grid-area: websiteVisitors;
}

.greyArea { 
  border: thick solid black;
  grid-area: greyArea; 
}

.reviews { 
  border: thick solid black;
  grid-area: reviews; 
}

.averageRating { 
  border: thick solid black;
  grid-area: averageRating;
 }

.sentimentAnalysis { 
  border: thick solid black;
  grid-area: sentimentAnalysis;
 }
