<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/app.css"> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<html>
	<body>
        <% if(mySkills.length > 1) { %>
            <h1>My Skills</h1>
        <% } else { %>
            <h1>My Skill</h1>
        <% } %>
		<!-- <h1>My Skills</h1> -->
        <!-- <%=mySkills%> -->
        <ul>
            <%
                for(let i= 0; i < mySkills.length; i++){
                    %>
                        <li>
                            <a href="'/skills/<%=i%>">
                            <%=mySkills[i]%>
                            </a>
                        </li>
                    <%
                }
            %>
        </ul>
	</body>
</html>