
        <form action="mailto:WalterWheat@Bread.com"
        method="POST"
        enctype="multipart/form-data"
        name="EmailForm">
        Name:<br>
        <input type="text" size="19" name="Contact-Name"><br><br>
        Email:<br>
        <input type="email" name="Contact-Email"><br><br> 
        Message:<br> 
        <textarea name="Contact-Message" rows="6″ cols="20″>
        </textarea><br><br> 
        <button id="send" type="submit" value="Submit">Send</button>
        </form> 
