<div id="nav">
    <a href="/home">Homepage</a>
    <a href="/links">Links</a> 
    <a href="/staff">Staff</a>
    <a href="/pastwork">Past Work</a>
    <a href="/companyhistory">History</a>
    <a href="/products">Order now</a>
    <a href="/contact">Contact</a>
    
</div>
