body {
background: rgb(251, 250, 250);
font-family: 'Kanit', sans-serif;
    /* display: flexbox;
    flex-direction: column; */
}
main {
    display: flex;
    flex-direction: row;
    justify-content:center
}
ul {
list-style-type: none;
}
header {
    display: flex;
    flex-direction: row;
    background: rgb(210, 206, 206);
    margin: auto;
    padding: 20x;
    justify-content: center;
}
.dashboard {
    background: rgb(210, 206, 206);
    width: 20%;
    margin: 25px;
    margin-right: 5px;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

#right-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(242, 228, 228);
} 
.upper-content { 
    display: flex;
    flex-direction: row;
    background: rgb(210, 206, 206);
    justify-content: space-between;
    margin: 25px;
}
.reviews {
    background: rgb(210, 206, 206);
    height: 200px;
    width: 150px;
    padding: 5px;
    margin: 5px;
}
.average-rating {
    background: rgb(210, 206, 206);
    height: 200px;
    width: 150px;
    padding: 5px;
    margin: 5px;
    
}
.sentiment-analysis {
    background: rgb(210, 206, 206);
    height: 200px;
    width: 150px;
    /* justify-content: center; */
    list-style-type: none;
    text-align: center;
    padding: 5px;
    margin: 5px;
}
.visitor-div {
    display: flex;
    background: rgb(210, 206, 206); 
    /* align-self: flex-end; */
    height: 300px;
    margin: 25px;
    /* justify-content:flex-start */
}
.dark-grey {
    background-color: rgb(151, 143, 143);
    height: 150px;
    width: 450px;
    justify-content: center;
    align-items: flex-end;
    align-self: flex-end;
    margin-bottom: 35px;
    margin-right: 100px;
} 
.footer-flex {
    display: flex;
    justify-content: space-around;
    font-family: 'Kanit', sans-serif;
}
footer {
    position: center;
    background: rgb(210, 206, 206);
    padding: 20px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}
a {
    text-decoration: none;
    color: black;
    font-family: 'Kanit', sans-serif;
}
h4, h3 {
    margin-top: 0;
}











