 * {
    text-align: center;
    background: rgb(171, 166, 166);
} 
body {
    background-color: #dad9e0;
    font-family: fantasy;
}
ul {
    list-style: none;
/*

*/
    padding: 0;
}
.secret {
    opacity: 0.5;
}
table {
    margin-left: auto;
    margin-right: auto;
}
.cabbage {
    color: chartreuse
}

