<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/bakedgoods/new" method="POST">
        Name: <input type="text" name="name" /><br/>
        Phone Number: <input type="text" name="number" /><br/>
        Order Details: <input type="text" name="color" /><br/>
        Pickup Time: <input type="text" name="pickUpTime" /><br/>
        <input type="submit" value="Send"/>
    </form>
    <nav>
        <a href="/bakedgoods">Back to Home</a>
    </nav>
</body>
</html>